:root {
    --defaut-text:#dedede;
    --default-btn:yellowgreen;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner-wrap {
    background-image: url(./images/banner/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:20px 80px;
}

.contact-info {
    display: inline-flex;
    color: var(--defaut-text);
    font-size: 1rem;
    font-family: monospace;
    font-weight: 300;
    letter-spacing: .2rem;
    margin-bottom: 25px;
}
#w-hrs {
    margin-right: 80px;
}

/* MAIN-HEADER SECTION  */
.main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.link-items ul li {
    display: inline;
}

ul li a {
    color: var(--defaut-text);
    text-decoration: none;
    list-style: none;
    padding: 0px 10px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-family: monospace;
    font-weight: 600;
    line-height: 2rem;

}
.social ul li {
    display: inline;
    text-decoration: none;
    list-style: none;
}

.social ul li img {
    max-width: 25px;
    height: auto;
    margin-left: 7px;
}

.description, .get-quote {
    align-items: center;
    text-align: center;
}

.description h1, p {
    color: var(--defaut-text);
}

.description h1{
    padding-top: 80px;
    padding-bottom: 10px;
    letter-spacing: .25rem;
    font-size: 40px;
}
.description p {
    letter-spacing: .25rem;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 400;
}
.ready-span {
    text-transform: uppercase;
    font-size: 2.5rem;
}

.get-quote-btn{
    margin: 40px 0px;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    text-align: center;
    color: var(--defaut-text);
    background-color: yellowgreen;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .25rem;
}