:root {
    --defaut-text:#fff;
    --color-code-1: #9ACD32;
    --color-code-2: #6B8E23;
    --color-gold: #ffd700;
    --color-bronze: #a97142;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner-wrap {
    background-image: url(./images/banner/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:30px 80px;
}
.logo a img {
    max-width: 20%;
    margin-left: -25px;
}
.contact-info {
    display: inline-flex;
    color: var(--defaut-text);
    font-size: 1rem;
    font-family: monospace;
    font-weight: 300;
    letter-spacing: .2rem;
    margin-bottom: 25px;
}
#w-hrs {
    margin-right: 80px;
}

/* MAIN-HEADER SECTION  */
.main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 240px;
}

.link-items ul li {
    display: inline;
}

ul li a {
    color: var(--defaut-text);
    text-decoration: none;
    list-style: none;
    padding: 0px 10px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-family: monospace;
    font-weight: 600;
    line-height: 2rem;

}
.social ul li {
    display: inline;
    text-decoration: none;
    list-style: none;
}

.social ul li img {
    max-width: 25px;
    height: auto;
    margin-left: 7px;
}

.description, .get-quote {
    align-items: center;
    text-align: center;
}

.description h1, p {
    color: var(--defaut-text);
}

.description h1{
    padding-top: 80px;
    padding-bottom: 10px;
    letter-spacing: .25rem;
    font-size: 40px;
}
.description p {
    letter-spacing: .25rem;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 400;
}
.ready-span {
    text-transform: uppercase;
    font-size: 2.5rem;
}

.get-quote-btn a{
    margin: 20px 0px 80px 0px;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    text-align: center;
    color: var(--defaut-text);
    background-color: var(--color-code-1);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .25rem;
    list-style: none;
    text-decoration: none;
}

/* SECTION MAIN-CONTENT-BODY-WRAPPER  */
.main-content-body-wrapper{
    padding: 40px 120px;
}

.main-profile-content {
    display: inline-flex;
    justify-content: space-around;
    padding: 40px 0px;
}
.user-profile {
    margin-right: 80px;
}
.user-profile img {
    max-width: 120px;
    height: auto;
    height: auto;
    border: 3px solid #dedede;
    border-radius: 50%;
}

.user-info p{
    color: inherit;
    font-size: 20px;
}
#user-name {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: .2rem;
}

#span-user-name {
    font-weight: lighter;
}

#user-title {
    font-size: 24px;
    line-height: 2.5rem;
}
/* divider  */
.rule {
   border: 1px solid var(--color-code-1);
   color: var(--color-code-2);
   padding: 80px 0px;
   margin-right: 80px;
}
/* SKILLS  */
.service , .skills{
    display: inline;
}

#skills {
    margin-right: 120px;
}

 #skill-title {
     font-size: 28px;
     margin-bottom: 20px;
     margin-left: -20px;
     font-family: monospace;
     color: var(--color-code-1);
 }

.skills {
    font-size: 24px;
    margin-left: 60px;
    text-align: left;
}

.skills ol li {
    margin-top: 30px;
}

.service {
    font-size: 24px;
    margin-left: 60px;
    text-align: left;
}

.service ul li {
    margin-top: 30px;
}

#services {
    margin-left: 30px;

}
.more-service {
    font-size: 24px;
    margin-top: 60px;
    margin-left: 80px;
}

.more-service ul li{
    /* margin-left: 30px; */
    /* margin-top: 2px; */
    padding: 12px 0px;
}


/* POTFOLIO SECTION  */
.potfolio {
    padding: 40px 0px;
}

.p_folio-head {
    display: flex;
    justify-content: center;
}

.p_folio-head ul li {
    margin-top: 60px;
    margin-bottom: 60px;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    font-family: monospace;
    letter-spacing: .25rem;
}

.p_folio-head ul li:hover {
    color: var(--color-code-1);
}
#active-head {
    border-bottom: 3px solid var(--color-code-1);
    border-radius: 50px;
    color: var(--color-code-1);
}

.potrait-img-item {
    display: inline-block;
}

.potrait-img-item img {
    cursor: pointer;
    max-width: 350px;
    height: auto;
}

.potrait-img-item img:hover{
    opacity: .8;
}


/* PRICING  */
.pricing {
    padding: 40px 0px;
    text-align: center;
}

#place-order {
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
    font-family: monospace;
    color: var(--color-code-1);
    align-items: center;
    text-align: center;
    padding: 40px 0px;
}
.pricing small {
    text-transform: inherit;
    font-size: 2rem;
    font-weight: 300;
}

.order-items {
    display: flex;
    padding: 40px 0px;
    justify-content: space-around;
    overflow: hidden;
}

.order-head {
    text-transform: uppercase;
    background-color: var(--color-code-1);
    padding: 20px;
    color: var(--defaut-text);
    font-family: monospace;
    letter-spacing: .2rem;
    font-size: 1.5rem;
}

.order-item-1 {
    border: 1px solid var(--color-code-1);
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
    max-width: 400px;
    text-align: center;
    align-items: center;
}

#tik {
    max-width: 35px;
    margin-right: 2px;
    margin-top: -5px;
    margin-right: 5px;
    height: auto;
}

.p-descr-content {
    display: inline-flex;
}

.p-descr-content  p {
    color: inherit;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px;
}

.price  p{
    color: black;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 24px;
    color: var(--color-bronze);
    font-weight: bold;
}

#price-gold p {
    color: var(--color-gold);
}
#price-silver p {
    color: var(--color-code-1);
}

small{
    font-weight: lighter;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

#order-btn a{
    padding: 20px 30px;
    align-items: center;
    text-align: center;
    width: 80%;
    background-color: transparent;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    cursor: pointer;
    border: 1px solid var(--color-code-2);
    margin-top: 40px;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--color-code-1);
}
#bronze {
    background-color: var(--color-bronze);
}
#gold {
    background-color:var(--color-gold);
}

footer {
    background-color: var(--color-code-2);
    padding: 20px 80px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-family: monospace;
}
.web {
    letter-spacing: .25rem;
}

/* STYLE FORM  */
.purchase {
    background-image: url(./images/pfolio/lens.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 150px;
    /* display:flex; */

}

form {
    display: block;
    max-width: 650px;
    height: auto;
    margin-left: 380px;
}

textarea{
    display:block;
    width: 100%;
    padding: 15px 0px;
    margin: 10px 0px;
    background-color: transparent;
    border: 2px solid var(--defaut-text);
    color: var(--defaut-text);
    outline: none;
}
input {
    display:block;
    outline: none;
    width: 100%;
    padding: 15px 0px;
    margin: 10px 0px;
    background-color: transparent;
    border: 2px solid var(--defaut-text);
    color: var(--defaut-text);  
}

button {
    background: none;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-submit {
    color: var(--defaut-text);
    width: 100%;
    border: none;
    background-color: var(--color-code-2);
    padding: 20px 0px;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 400;
}

input::placeholder {
    font-size: 1rem;
    font-family: monospace;
    letter-spacing: .25rem;
    color: white;
    padding-left: 10px;
}

textarea::placeholder {
    color: white;
    padding-left: 10px;
    font-size: 1rem;
    font-family: monospace;
}